body{
    background-color:#10151A;} /* Hier is het achtergronds kleur*/



/*Ik gebruik CSS alleen voor classes en als ik iets moet animeren*/

img {
    width: fit-content;
    height: fit-content;
    background-color: transparent;} /*hier heb ik attributes gezet voor alles fotos*/


html{scroll-behavior:smooth;}   /*Ik heb het op smooth gezet want ik heb in mij website een pijltje gemaakt. als je erop klikt dan spring je naar beneden met een smooth transitie*/

.verstopt{
    color:#10151A;} /*ik heb mijn naam ergens verstop met dezelfde achtergrond kleur*/

.ready-project{
    color: white;
    font-size:35px;
    font-family:Tahoma, sans-serif; /*dit is een titel met een ander font size*/
    margin-left:-15px;
    text-align:center;}


.pink{
    color: white;
    font-size:30px;
    padding-top: 0px;}
.goose{                 /* deze twee classes is voor de titel ik heb geen image gebruikt want ik wou laten zien dat ik dingen kan maken met CSS zonder fotos*/
    color: #FFB4D3;
    font-size:30px;
    padding-left: 10px;
    padding-top:0px;}


.title{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-family: Tahoma, sans-serif; /*Dit is de titel voor de Logo van de Header*/
    font-weight: bold;}

.link{
    color: white;
    padding: 7px;
    text-decoration:none;
    transition:0.5s;}
.link:hover{                 /*Dit is de class voor de links van de header*/
    color:#FFB4D3;
    font-size:18px;
    padding-top:0px;
    padding:10px;}

.links{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-family: Tahoma, sans-serif; /*Dit is de container van de links van de header*/
    margin-top: 20px;}
    

.login{
    color: white;
    background: #243241;
    height: 24px;
    width: 60px;
    font-size: 13px;
    border-radius: 7px;
    text-align: center;
    padding-top: 5px;
    font-family: Tahoma, sans-serif;
    font-weight: lighter;
    margin-top: 25px;
    text-decoration: none;
    transition:0.5s;}

.login:hover{
    color:#FF9E9E;
    font-size:15px;}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #10151A;
    box-shadow: 0px 10px 8px #10151A;   /*Dit is de container van alles in de header*/
    z-index:1;
    position: sticky;
    top:0;
    margin-left:-100px;}

    

.text{
    font-size: 40px;
    font-family: Tahoma, sans-serif;    /*dit is de titel van de eersde tekst* Ik kon een goeie naam bedenken*/
    color: white;
    margin-top: 100px;}
.text2{ 
    font-size: 17px;
    font-family: Tahoma, sans-serif;    /*dit is de tekst*/
    color: white;
    margin-top: 25px;}

.container-text{
    width:100%;
    text-align: center;     /*dit is de container van die text*/
    margin-left:0px;}

.get-started{
    background-color: #CEAAFF;
    color: #10151A;
    box-shadow: 0 10px 30px rgb(255, 184, 0, 0.208);    /*dit is de get started knop*/
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-decoration:none;
    display:inline-block;
    padding: 15px;
    padding-left:40px;
    padding-right:40px;
    border-radius:12px;
    margin-top:100px;
    transition: 0.5s;}
.get-started:hover{
    padding:20px;
    padding-left:48px;
    padding-right:48px;
    box-shadow: 0 10px 35px rgb(255, 184, 0, 0.208);}

.pijlen{
    display: flex;
    flex-direction: row;
    rotate: 90deg;
    width: 50px;
    height: 50px;
    transform: rotateY(60deg);
    border-radius: 7px;
    padding-left: 25px;
    margin: auto;                   /*Dit is is de roze pijl ik kon fotos gebruiken maar ik wou mezelf uitdagen*/
    text-decoration:none;
    font-size: 40px;
    color:#F78787;}
.pijlen:hover{
    margin-top:10px;
    margin-bottom:-10px;}
.pijl{
    opacity:0.5;}


.photo-column{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;    /*dit is de container van de foto op de eerste pagina*/
    margin-top:-100px;
    margin-bottom:100px;}

.tags1{                                    /*hier komr de gedeelte van de tags ik heb zoveel van gemaakt omdat ik toen niet wist dat i een spatie in de class kon zetten*/
    background-color:#182632;
    color:#FFB4D3;
    border-radius:50px;
    width:auto;
    display:inline;
    font-family: Tahoma, sans-serif;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin: 5px;}
.tags2{
    background-color:#182632;
    color:#FFC24C;
    border-radius:50px;
    width:auto;
    display:inline;
    font-family: Tahoma, sans-serif;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin: 5px;}
.tags3{
    background-color:#182632;
    color:#D387F7;
    border-radius:50px;
    width:auto;
    display:inline;
    font-family: Tahoma, sans-serif;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin: 5px;}
.tags4{
    background-color:#182632;
    color:#77E6FF;
    border-radius:50px;
    width:auto;
    display:inline;
    font-family: Tahoma, sans-serif;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin: 5px;}
.tags5{
    background-color:#182632;
    color:#23C9DE;
    border-radius:50px;
    width:auto;
    display:inline;
    font-family: Tahoma, sans-serif;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin: 5px;}
.tags6{
    background-color:#182632;
    color:#FF9E9E;
    border-radius:50px;
    width:auto;
    display:inline;
    font-family: Tahoma, sans-serif;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin: 5px;}
.tags7{
    background-color:#182632;
    color:#707F8D;
    border-radius:50px;
    width:auto;
    display:inline;
    font-family: Tahoma, sans-serif;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin: 5px;}


.container-tags{
    width:auto;
    text-align: center;     /*dit is de container voor all die tags*/
    margin-top:50px;}


.image-container{
    margin-top:160px;
    margin-left:-20px;} /*dit is de positie van die code*/

.image{
    width:800px;        /* dit is de container van die image van de begin dit is gewoon de regels die de foto moest volgen*/
    height:325px;
    border-radius:30px;}

.image-tag{
    color:#0A1117;
    background-color:#FFB4D3;
    font-weight:bold;
    margin-top:-23px;
    margin-left:415px;
    width:330px;
    font-family: Tahoma, sans-serif;    /* dit is de tag van de foto*/
    border-radius:50px;
    padding-left:10px;
    padding-right:10px;
    padding:10px;}

.long-text{
    color:#E5E5E5;
    font-weight:bold;       /*dit is niet een long text ik kon geen goeie naam vinden ik heb dit class meerdere keer gebruikt zoals voor titels die kleiner zijn dan de Titel class*/
    font-size:30px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-left:-5px;
    margin-top:0px;}


.gray-text{
    color:#5A6C7E;      /*dit is de class voor teksten die grijs zijn*/
    transition:0.5s;}
.gray-text:hover{
    color:#FFB4D3;}


.works{
    color:#E5E5E5;
    font-weight:bold;
    font-size:30px;
    font-family: Tahoma, sans-serif;    /*ik verwacht niet dat iemand dit zal lezen ik heb al bewezen dat ik comments kan gebruiken*/
    text-align: center;
    margin-top:-50px;}

.works-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:250px;
    width:100%;}

.works-with-container{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width:60%;
    height:200px;
    text-align:center;}

.works-box{
    display: flex;
    justify-content: center;
    align-items:center; 
    width:90px;
    height:90px;
    border-radius:20px;
    color:#121E28;
    outline:solid;
    outline-width:2px;
    outline-color:#2A3744;
    background-color:#121E28;}

.works-column{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;}

.works-name{
    color:white;
    font-family:Tahoma, sans-serif;
    text-decoration:none;
    transition:0.5s;}

.works-name:hover{
    font-size:25px;}

.yellow-text{
    color:#FFC803;}

.works-circle{
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    width:40px;
    height:40px;}

.polygon-circle{
    background-color:#965EF4;
    box-shadow: 0 0px 30px #8147e575;}

.ethereum-circle{
    background-color:#7993F9;
    box-shadow: 0 0px 30px #627dea75;}

.gnosis-circle{
    box-shadow: 0 0px 30px #008C7375;}

.snapshot-circle{
    background: rgb(255,204,74);
    box-shadow: rgba(255, 204, 74, 0.5);
    background: linear-gradient(150deg, rgba(255,204,74,1) 0%, rgba(255,172,50,1) 48%);}

.ens-circle{
    background: rgb(160,159,254);
    box-shadow: rgb(160,159,254, 0.5);
    background: linear-gradient(150deg, rgba(160,159,254,1) 0%, rgba(74,206,247,1) 72%);}

.opensea-circle{
    background: rgb(62,153,243);
    box-shadow: rgb(62,153,243, 0.5);
    background: linear-gradient(150deg, rgba(62,153,243,1) 0%, rgba(32,129,226,1) 72%);}

.ethereum{
    height:22px;
    width:14px;}

.polygon{
    height:22px;
    width:25px;}

.gnosis{
    height:40px;
    width:40px;}

.snapshot{
    height:22px;
    width:18px;}

.ens{
    height:25px;
    width:24px;}

.opensea{
    height:25px;
    width:27px;}

.help-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:250px;
    width:100%;}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15px;
    width:100%;
    height:100px;}

.glow{
    position: absolute;
    z-index:-1;
    margin-left:200px;
    height:800px;
    width:800px;}

.info{
    justify-content:center;
    font-family:Tahoma, sans-serif;
    color: white;
    font-size:25px;
    font-weight: bold;}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15px;}

.profile-photo{
    width:90px;
    height:90px;}

.row-gray{    
    justify-content:center;
    text-align:center;
    font-family:Tahoma, sans-serif;
    color: #9AAFC3;
    font-size:25px;}

.email{
    background-color:#121E28;
    color:#3D4C5B;
    border-style:solid;
    border-color:#2A3744;
    border-width:1px;
    outline-color:#2A3744;
    outline-style:solid;
    outline-width:1px;
    border-radius:11px;
    width: 200px;
    height:25px;
    padding:10px;
    padding-left:20px;
    font-family:Tahoma, sans-serif;
    font-weight: bold;}

.goose-post{
    width:270px;
    height:25px;}

.your-message{
    width:270px;
    height:200px;
    resize:none;}

.submit{
    background-color:#CEAAFF;
    cursor: pointer;
    color:#10151A;
    outline-style: none;
    border-style: none;
    font-family:Tahoma, sans-serif;
    padding: 15px;
    padding-left:20px;
    padding-right:20px;
    border-radius:11px;
    font-weight: bold;
    transition:0.5s;}

.submit:hover{
    padding:20px;
    padding-left:23px;
    padding-right:23px;}

.position-end{
    align-self:flex-end;
    margin-top:100px;}

.email-container{
    background-color:#121E28;
    outline:solid;
    outline-color:#2A3744;
    width:650px;
    height:200px;
    padding-top:25px;
    padding-bottom:25px;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;}

.align-center{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;}

.your-mail{
    align-self:center;}

::placeholder {
  color:#3D4C5B;
  opacity: 1;}

.press-container{
    width:650px;
    height:200px;
    padding-top:25px;
    padding-bottom:25px;
    align-self:center;
    display:flex;
    flex-direction:column;
    gap:30px;}

.press-text{
    justify-content:space-between;
    flex-direction:row;
    display: flex;}

.see-all{
    color:#8395A7;
    font-weight:bold;
    font-family:Tahoma, sans-serif;
    align-self:flex-end;
    text-decoration:none;
    transition:0.5s;}

.see-all:hover{
    font-size:18px;}


.container-companies{
    display:flex;
    flex-direction:row;
    justify-content:space-between;}


.decrypt-container{
    background-color:#77E6FF;
    color:#1D1D1B;
    width:29%;
    height:210px;
    border-radius:11px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding:10px;}

.decrypt-logo{
    height:25px;
    width:75px;}

.black-bold-text{
    font-weight:bold;
    font-family:Tahoma, sans-serif;
    color:#10151A;
    text-align: start;
    font-size:12px;
    text-decoration:none;
    transition:0.5s;}

.black-bold-text:hover{
    font-size:13px;}

.black-light-text{
    font-family:Tahoma, sans-serif;
    color:#10151A;
    text-align: start;
    font-weight: lighter;
    font-size:10px;
    text-decoration:none;}

.block-works-logo{
    height:25px;
    width:175px;}

.block-works-container{
    background-color:#E2C1F9;
    color:#1D1D1B;
    width:29%;
    height:210px;
    border-radius:11px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding:10px;}

.tech-crunch-logo{
    height:25px;
    width:175px;}

.tech-crunch-container{
    background-color:#DBE268;
    color:#1D1D1B;
    width:29%;
    height:210px;
    border-radius:11px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding:10px;}

.white-bold-text{
    font-weight:bold;
    font-family:Tahoma, sans-serif;
    color:#ffff;
    text-align: start;
    font-size:12px;
    text-decoration:none;
    transition:0.5s;}

.white-bold-text:hover{
    font-size:13px;}

.white-light-text{
    font-family:Tahoma, sans-serif;
    color:#E2E2E2;
    text-align: start;
    font-weight: lighter;
    font-size:10px;}

.podcast-container{
    width:650px;
    height:200px;
    padding-top:25px;
    padding-bottom:25px;
    align-self:center;
    display:flex;
    flex-direction:column;
    gap:30px;}

.podcast-text{
    justify-content:space-between;
    flex-direction:row;
    display: flex;}

.placeholder-podcast-container{
    background-color:#121E28;
    outline:solid;
    outline-color:#2A3744;
    width:180px;
    height:180px;
    border-radius:11px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding:10px;}

.photo-podcast{
    height:30px;
    width:30px;}

.contain-podcast{
    display:flex;
    flex-direction:row;
    justify-content:space-between;}

.large-gray{
    color:#5A6C7E;
    font-size:30px;
    text-align:center;
    font-family:Tahoma, sans-serif;
    font-weight:bold;}

.telegram-logo{
    background-color:#00000020;   
    height: 25px;
    width:25px;
    padding:10px;
    padding-left:8px;
    padding-top:8px;
    border-radius:12px;
    margin-left:10px;}

.telegram-container{
    background-color:#FFC803;
    height:50px;
    width:200px;
    border-radius:12px;
    display:flex;
    flex-direction:row;
    justify-content:start;
    gap:10px;
    padding-top:8px;
    padding-left:4px;
    padding-right:20px;
    transition:0.5s;}

.telegram-container:hover{

    height:55px;
    width:220px;}

.telegram-text{
    color:#4D3705;
    font-family:Tahoma, sans-serif;
    font-weight:bold;
    text-align:start;}

.light{
    font-weight:lighter;}

.telegram-text-container{
    display:flex;
    flex-direction: column;}

.goose-idea-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:25px;}

.goose-idea{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:250px;}


.super-email-logo{
    background-color:#00000020;   
    height: 25px;
    width:25px;
    padding:10px;
    padding-left:8px;
    padding-top:8px;
    border-radius:12px;
    margin-left:10px;}

.super-email-container{
    background-color:#E2C1F9;
    height:50px;
    width:200px;
    border-radius:12px;
    display:flex;
    flex-direction:row;
    justify-content:start;
    gap:10px;
    padding-top:8px;
    padding-left:4px;
    padding-right:20px;
    transition: 0.5s;;}

.super-email-container:hover{
    height:55px;
    width:220px;}

.super-email-text{
    color:#40354B;
    font-family:Tahoma, sans-serif;
    font-weight:bold;
    text-align:start;
    font-size: 16px;}

.light{
    font-weight:lighter;
    font-size:12px;}

.super-email-text-container{
    display:flex;
    flex-direction: column;}

.socials-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:200px;
    margin-right:-100px;}

.wider{
    gap:20px;}

.social-image{
    height:45px;
    width:45px;
    transition:0.5s;}

.social-image:hover{
    height:55px;
    width:55px;}

.footer-container{
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom:-10px;
    width:101.5%;
    height:100px;
    background-color:#121E28;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;}

.blank-space{
    width:200px;
    height:20px;}

.column-container{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:100px;}

.star1{
    margin-left:250px;
    margin-bottom:-50px;}

.star2{
    margin-left:900px;
    margin-top:-100px;
    margin-bottom:-100px;}

.star3{
    margin-left:350px;
    margin-bottom:50px;
    margin-top:-120px;}

.mirrored-star3{
    margin-top:50px;
    margin-bottom:-50px;
    margin-left:-100px;
    transform:scaleX(-1);}

.star4{
    margin-top:-120px;}

.star5{
    margin:auto;
    margin-top:150px;}

.star{
    height:25px;
    width:25px;
    margin-top:5px;}

.second-star2{
    margin-top:-20px;
    margin-bottom:-40px;
    margin-left:100px;}

.star-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:300px;}

.contact-arrow{
    text-align: end;
    font-weight: bold;
    color:#10151A;
    font-family:Tahoma, sans-serif;
    font-size:12px;
    text-decoration:none;
    transition:0.5s;
    padding-bottom:20px;}

.contact-arrow:hover{
    font-size:13px;}


.hero{
    background-color:#FFB4D3;
    width:200px;
    height:180px;
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:10px;
    border-radius:12px;}

.our-hero-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:30px;}

.our-herous{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:25px;
    margin-top:100px;
    margin-bottom:50px;}

.hero-align{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;}

.send-a-goose-post{
    display:flex;
    flex-direction:column;
    background-color:#121E28;
    border-radius:12px;
    outline-style:solid;
    outline-width:2px;
    outline-color:#2A3744;
    align-self:center;
    width:40%;
    gap:20px;
    align-items:center;
    padding: 30px;
    padding-bottom:30px;}

.select{
    width:300px;
    height:40px;
    background-color:#121E28;
    color:#3D4C5B;
    border-style:solid;
    border-color:#2A3744;
    border-width:1px;
    outline-color:#2A3744;
    outline-style:solid;
    outline-width:1px;
    border-radius:6px;
    padding:10px;}





    